<div class="input-group date" id="datetimepicker4" data-target-input="nearest">
  <label for="datetimepicker1" class="pt-2 pr-2">年月日:</label>
  <%= f.text_field method, class: 'form-control datetimepicker-input', data: {target: '#datetimepicker4'} %>
  <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
  </div>
  <script>
        $(function () {
          $('#datetimepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'ja',
            buttons: {
              showClose: true
            }
        });
      });
  </script>
</div>
