<%= f.text_field method, class: 'form-control datetimepicker-input', data: {target: '#datetimepicker4'} %>
<div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
</div>
